body {
    background-image: url("../images/papyrus.png");
    background-repeat: repeat;
    background-color: white;
    width: 960px;
    font-family: "Georgia", Times, Times New Roman, serif;
    margin: auto;
}

header {
    background-color: #ffffff;
    border-width: 2px;
    border-color: #cccccc;
}

.name {
    background-color: teal;
    float: left;
}

ul {
    float: left;
}

#container {
    height: 246px;
}

.wrapper {
    width: 960px;
    clear: both;
}

#content {
    float: left;
    width: 650px;
}

.module {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #dddddd;
}

.bioPhoto {
    float: left;
    margin-right: 30px;
}

p {
    display: block;
    margin-top: 50px;
    
}